version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:12.18.2

    working_directory: ~/monizhang.com

    steps:
      - checkout

      - restore_cache:
          keys:
            - yarn-cache-v1-{{ checksum "yarn.lock" }}
            - yarn-cache

      - run:
          name: Install Dependencies
          command: yarn

      - save_cache:
          key: yarn-cache-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Gatsby Build
          command: yarn build

      - run:
          name: Firebase Deploy
          command: ./node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN"

