version: 2.1

jobs:
  build_and_deploy:
    docker:
      - image: circleci/node:12.18.2

    working_directory: ~/monizhang.com

    steps:
      - checkout

      - restore_cache:
          keys:
            - yarn-cache-v1-{{ checksum "yarn.lock" }}
            - yarn-cache

      - run:
          name: Install Dependencies
          command: yarn

      - save_cache:
          key: yarn-cache-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Install Firebase Tools
          command: curl -sL https://firebase.tools | bash

      - run:
          name: Gatsby Build
          command: yarn build

      - run:
          name: Firebase Deploy
          command: firebase deploy --token "$FIREBASE_TOKEN"

workflows:
  version: 2.1
  build_deploy_monizhang:
    jobs:
      - build_and_deploy:
          filters:
            branches:
              only:
                -master
